* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 13px;
  text-align:justify;
  line-height: 1.3rem;

  background: #1459ce;

}
a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #1459ce;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

p {line-height: 1.3rem;}

a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #e2b76d;
  font-size: 12px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);

}

section {
  background: #FFFFFF;
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.35);
  border-radius: 7px 7px 7px 0 7px;
  -webkit-border-radius: 7px;
  width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
  padding:1.5rem 2rem;
height: 29rem;
}

section .contenedor .sketchicn {
  margin-right:0.5rem;
  vertical-align: middle;

}


.titulobox {
  float: left;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #262323;
  margin-top: 0px;

}

h2 {
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #ADADAD;
  margin-bottom: 7px;

  }
hr {
  border: 1px dashed #EBEBEB;
  margin-top: 2rem;
  margin-bottom: 2rem;


}
.icono {
    position: relative;
    float: right;
    top: 0px;
    margin-right: 0rem;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
}

/*descripciond de los proyectos en la lista*/
section .description {
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #ADADAD;
  line-height: 22px;

}

section .contenedor p {
  margin-bottom: 1rem;
}

section .contenedor .projectname {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 3rem;
  font-weight: 300;
font-size: 14px;
color: #ADADAD;
margin-top: 0.3rem;
margin-left: 1.5rem;

}

.contenedor {
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      flex-wrap: wrap;
      line-height: 0.5rem;
}

.item {
      width: 30%;
}

footer {
    position:relative;
    width: 100%;
    height: 50px;
    margin-top: 4.5rem;
}

.dribbble_container {
      width: 33%;
      margin-bottom: 4rem;
      margin-right: 0px;
      float: right;
      display: inline-block;

    }

.icon_dribbble {
  float: left;
 margin-right: 1rem;
}


h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #ADAFB2;
      font-weight: 300;
      margin-right: 0px;
}

h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #32393D;
      font-family: 2000;
      margin-right: 0px;

}




/*Estilos para pantallas menores*/


@media (max-width: 650px) {

  section {
    width: 80%;
    margin-top: 2rem;
}

.icono {
  width: 20%;
  }
footer {
  display: inline-block;
}

footer .dribbble_container {
  width: 33%;
  margin-bottom: 4rem;
  margin-right: 0px;
  float: none;
  display: inline-block;

}

}
