* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 13px;
  text-align:justify;
  line-height: 1.3rem;

  background: #1459ce;

}
a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #1459ce;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

p {line-height: 1.3rem;}

.contenedor a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #e2b76d;
  font-size: 12px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);

}

section {
  background: #FFFFFF;
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.35);
  border-radius: 7px 7px 7px 0 7px;
  -webkit-border-radius: 7px;
  width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
  padding:1.5rem 2rem;
height: 29rem;
}

section .contenedor .sketchicn {
  margin-right:0.5rem;
  vertical-align: middle;

}


.titulobox {
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #262323;
  margin-top: 0px;
  margin-bottom: 4rem;

}

h2 {
  margin-top: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #ADADAD;
  margin-bottom: 7px;

  }
hr {
  border: 1px dashed #EBEBEB;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;


}
.icono {
    position: relative;
    float: right;
    top: 0px;
    margin-right: 0rem;
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
}

/*descripciond de los proyectos en la lista*/
section .description {
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 14px;
  color: #ADADAD;
  line-height: 22px;

}

section .contenedor p {
  margin-bottom: 1rem;
}

section .contenedor .projectname {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-weight: 300;
font-size: 14px;
color: #ADADAD;
margin-top: 0.3rem;
margin-left: 1.5rem;

}

.contenedor {
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      flex-wrap: wrap;
      line-height: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;

}

.item {
      width: 30%;
}

footer {
    position:relative;
    width: 100%;
    height: 50px;
    margin-top: 3.5rem;
}

.dribbble_container {
      width: 33%;
      margin-right: 0px;
      float: right;
      display: inline-block;

    }

.icon_dribbble {
  float: left;
  margin-right: 1rem;

}

.button {
  float: left;
  margin-top: 0.5rem;
}

footer h5 {
  display: inline-block;
  margin-left: 0.4rem;
  margin-top: 0.7rem;
  color: rgb(244, 86, 140);
}

footer .box a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #c23d3d;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-top: 0px;
}

footer .box a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #992828;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #ADAFB2;
      font-weight: 300;
      margin-right: 0px;
}

h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: rgb(212, 215, 219);
      font-family: 2000;
      margin-right: 0px;

}




/*Estilos para pantallas menores*/


/*@media (max-width: 650px) {

  section {
    width: 80%;
    margin-top: 2rem;
}

.icono {
  width: 20%;
  }
footer {
  display: inline-block;
}

footer .dribbble_container {
  width: 33%;
  margin-bottom: 4rem;
  margin-right: 0px;
  float: none;
  display: inline-block;

}

}*/


/*Pop up css*/


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {

  margin: 70px auto;
  padding: 2.5rem;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  /*transition: all 5s ease-in-out;*/
}

.popup h1 {
  margin-bottom: 2rem;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  overflow: auto;
}

.popup .imginfo img{
  width: auto;
  display: block;
  margin: 0 auto;
}
